body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans';
}
h1 {
    text-align: center;
}
.header-title {
    position: absolute;
    top: -15px;
    left: 15px;
}
.welcome-message {
    position: absolute;
    top: 50px;
    left: 20px;
}
.input-field {
    margin: 5px 0px 5px 0px;
}
.action-field {
    margin: 5px 0px 5px 0px;
    padding-bottom: 100px;
    resize: none;
}
.process-button {
    margin-top: 10px;
}
.deactivate-button {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 30px;
    border-radius: 5px;
    border: none;
}
.signout-button {
    position: absolute;
    top: 50px;
    left: 10px;
    right: 10px;
    height: 30px;
    border-radius: 5px;
    border: none;
}
.container {
    position: absolute;
    top: 130px;
    bottom: 40px;
    left: 10px;
    right: 10px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    overflow-x: auto;
}
.home-container {
    margin: 0;
    text-align: center;
}
.login-container {
    margin: 0;
    text-align: center;
}
.register-container {
    margin: 0;
    text-align: center;
}
.create-goal-container {
    float: left;
    background-color: #F3E5AB;
    margin: 10px 10px 10px 10px;
    padding-top: 10px;
    width: 200px;
    border: 2px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
    flex: 0 0 auto;
}
.goal-container {
    float: left;
    margin: 10px 10px 10px 10px;
    padding-top: 10px;
    width: 200px;
    border: 2px solid #000000;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    flex: 0 0 auto;
}
.goal-page-container {
    position: absolute;
    top: 130px;
    bottom: 40px;
    left: 10px;
    right: 10px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
    overflow: scroll;
}
.create-task-container {
    float: top;
    background-color: #A52A2A;
    color: white;
    margin: 10px 10px 10px 10px;
    padding-top: 10px;
    left: 10px;
    right: 10px;
    height: 100px;
    border: 2px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
}
.task-container {
    float: top;
    margin: 10px 10px 10px 10px;
    padding-top: 10px;
    left: 10px;
    right: 10px;
    height: 100px;
    border: 2px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
}
.task-page-container {
    position: absolute;
    top: 130px;
    bottom: 40px;
    left: 10px;
    right: 10px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
    overflow: scroll;
}
.create-action-container {
    float: left;
    background-color: #87CEFA;
    margin: 10px 10px 10px 10px;
    padding-top: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
}
.action-container {
    float: left;
    margin: 10px 10px 10px 10px;
    padding-top: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
}
.setting-container {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    border: 2px solid #000000;
    background-color: gray;
}
.setting-window-container {
    position: absolute;
    height: 90px;
    width: 200px;
    top: 45px;
    right: 45px;
    border-radius: 10px;
    border: 2px solid #000000;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 5px;
    z-index: 1;
}
.navigation-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}
.home-navigation {
    position: absolute;
    left: 250px;
    top: 18px;
}
.visualization-navigation {
    position: absolute;
    left: 320px;
    top: 18px;
}
.about-navigation {
    position: absolute;
    left: 440px;
    top: 18px;
}